<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogger-1</title>
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/WriteBlog.css">
    <link rel="stylesheet" href="styles/blog-entries.css">
</head>
<header>
    <div id="navbar" class="navtext">
        <div class="home navitems">
            <a id="Home-ref" href="/home">Home</a>
        </div>
        <div class="read-write navitems">
            <a id="logout-ref" href="/">Log-out</a>
        </div>
    </div>
</header>
<body>
