<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogger-1</title>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/WriteBlog.css">
    <link rel="stylesheet" href="/styles/readBlog.css">
    <!-- Font -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<header>
    <div id="navbar" class="navtext">
        <div class="home navitems">
            <a id="Home-ref" href="/home">Home</a>
        </div>
        <div class=" login-logout navitems">
            <a id="logout-ref">Log-out</a>
        </div>
    </div>
</header>
<body>
