<%- include('partials/header') %>
    <div class="flex-container-for-bbr"> <!--bbr = blog being read-->    
        <div id="bbr">
            <div id="yourBlogs">Your Blogs</div>
            <% if(locals.blogList.length === 0){ %>
                <div id="no-blogs">You have not written any blogs yet!</div>
            <% } else { %>
                <%- include('partials/blog-content') %>  <!--Blog content-->
                <% } %>
        </div>
    </div>
<%- include('partials/footer') %>