<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogger-1</title>
    <link rel="stylesheet" href="styles/login.css">
</head>


<body>
    <p class="login-heading">Welcome to B1ogger One</p>
    <div class="login-home-flex-container">
        <div id="login-box">
            <p>Enter your username!</p>
            <form action="/home" method="POST">
                <input class="login-Text" type="text" id="username" name="username" required>
                <br>
                <div class="login-button"><button type="submit">Login</button></div>
            </form>
        </div>
    </div>
</body>
</html>