<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogger-1</title>
    <link rel="stylesheet" href="styles/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>


<body>
    <p class="login-heading">Welcome back to B<span id="text1">1</span>ogger One</p>
    <div class="login-home-flex-container">
        <div id="login-box">
            <p>Please <br> login</p>
            <form action="/login" method="POST">
                <input class="login-Text" type="text" id="username" name="username" placeholder="<%= locals.userNameError ? userNameError : 'Enter your Username'%>" required>
                <input class="login-Text" type="password" id="password" name="password" placeholder="<%= locals.passNameError ? passNameError : 'Enter your Password'%>" required>
                <br>
                <button class="login-button" type="submit">Login</button>
                <p class="signup-to-login">Dont have an account? Sign up <a href="/signUp">here</a></p>
            </form>
        </div>
    </div>
</body>
</html>