<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogger-1</title>
    <link rel="stylesheet" href="styles/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>


<body>
    <p id="login-heading" class="flex-column-center">Welcome to B<span id="blogger-letter-1">1</span>ogger One</p>
    <div id="login-home-flex-container" class="flex-column-center">
        <div id="login-box" class="flex-column-center">
            <p>Enter your username!</p>
            <form action="/home" method="POST" class="flex-column-center">
                <input class="login-Text" type="text" id="username" name="username" required>
                <br>
                <button class="login-button" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>