

/* Styles for Home Page 

The Styles are organized as follows:

==>Body
==>Homescreen
>media query for homescreen
==>Blog Button
==>Blog Content
    >Your Blogs
    >No Blogs
    >Blog Entry
>media query for blog content
*/

/* ====================================================== */
/* Body */
body{
    background-color: white;
    /* background: linear-gradient(to right, #1E3A8A, #2563EB); */

    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}
.index-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


/* ====================================================== */
/* Homescreen */
#homeScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
}
#homeScreen h1 {
    font-size: 70px;
    padding: 1.5rem;
}
#userBreak{
    display: inline;
    font-style: normal;
}
/* @media (max-width: 1000px) {
    #homeScreen h1 {
        align-items: center;
        text-align: center;
        font-size: 50px;
    }
    #userBreak{
        display: block;
    }
} */
/* ====================================================== */
/* Blog Button */
.blog-button {
    background-color: rgba(19, 30, 92, 0.95);
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}
.blog-button:hover{
    transform: scale(1.05);
    background-color: #FF9A00;
    color: rgba(15, 23, 42, 0.95); 
}
.blog-button > a{
    text-decoration: none;
    color: white;
    margin: 0;
}

/* @media (max-width: 1000px) {
    .blog-button{
    font-size: 0.8rem;
    }
} */
/* ====================================================== */

/* Blog Content > your blogs */
#yourBlogs{      
    width: 100%;

    margin-top: 40px;
    padding: 12px;
    padding-left: 35px;

    border-radius: 10px;
    background-color: rgba(15, 23, 42, 0.95);
    color: #F9FAFB;
    
}
.text-roboto{
    font-family: "Roboto",sans-serif;
}
.text-light-roboto{
    font-size: 30px;
    font-weight: 350;
    text-align: center;
    font-family: "Roboto",sans-serif;

    padding: 0;
    margin: 0;
}


/* Blog Content */
#blog-content{
    font-size: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    width: 100%;
    height: 100%;

    border-radius: 10px;
}

/* Blog Content > no blogs entries present */
#no-blogs{
    margin: 10px;
}


/* Blog Content > blog entries are present */
.blog-entry{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;

    background-color: #1E293B;
    border: 3px solid black;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transition: all 0.3s ease, box-shadow 0.3s ease ;

    padding: 0px;
    margin: 25px;
}
.blog-entry:hover{
    transform: translateY(-8px);
    background-color: #FF9A00;
    box-shadow: 0 12px 24px rgba(0,0,0,0.3);
}

.blog-content-title{
    text-align: left;
    font-size: 18px;

    padding-top: 10px;
    margin: 0 0 10px;
    height: 60%;

    color: #FFFFFF;
    text-align: center;
}

.blog-content-author{
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
    color: #94A3B8;
    
    padding: 10px;
    margin: 0px;
    height: 45%;

    background-color: aliceblue;
}



/* @media (max-width: 1000px) {
    #no-blogs{
        text-align: center;
    }
    #blog-content{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

} */