#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-right: 20px;
    padding: 0;
    /* width: 100%; */
}
.blogText-form{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 15fr;
    gap: 10px;
}
#blogHeading{
    width: 100%;
}

#writeYourBlogHere{
    grid-column: 1 / 2;
}
#blogTitle{
    grid-column: 1 / 2;
}
#blog-title{
    grid-column: 2 / 3;
}
#blogSubmit{
    margin-top: 20px;
}
#blog-text{
    vertical-align: top;
    height: 100%;
    width: 100%;
    resize: none;
    box-sizing: border-box;
}



